<div class="footer">
	<!--<div class="separator"></div>-->
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<h4 class="title" font-uppercase>Inicia tu propia historia</h4>
				<p class="content" [innerHTML] = "parseDescription"></p>
				<div class="call-to-action">
					<a  class="btn-CTA" (click)="CTA.contacto()">
						<svg>
							<rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
						</svg>
						<span class="button_CTA">Contactame</span> 
					</a>
				</div>
				<div class="social-networks">
					<ul class="list-inline">
						<li class="list-inline-item "><a target="_blank" href="https://www.instagram.com/mamfotografo/" data-wipe><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li class="list-inline-item "><a target="_blank" href="https://wwww.facebook.com/mamfotografo/" data-wipe><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item "><a target="_blank" href="https://twitter.com/mamfotografo/" data-wipe><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="by-made ">
		<a href="https://www.behance.net/erikamarcialm" class="btn-special">
			<svg>
				<rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
			</svg>
			<span class="by_name">Handmade with ❤ Erika Marcial & Company</span> 
		</a>
	</div>
</div>	
