
@font-face {
	font-family: 'Raleway-ExtraBoldItalic';
	src: url('fonts/Raleway-ExtraBoldItalic.eot');
	src: local('☺'), url('fonts/Raleway-ExtraBoldItalic.woff') format('woff'), url('fonts/Raleway-ExtraBoldItalic.ttf') format('truetype'), url('fonts/Raleway-ExtraBoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

