
@font-face {
	font-family: 'Raleway-BlackItalic';
	src: url('fonts/Raleway-BlackItalic.eot');
	src: local('☺'), url('fonts/Raleway-BlackItalic.woff') format('woff'), url('fonts/Raleway-BlackItalic.ttf') format('truetype'), url('fonts/Raleway-BlackItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

