
@font-face {
	font-family: 'Raleway-ExtraLightItalic';
	src: url('fonts/Raleway-ExtraLightItalic.eot');
	src: local('☺'), url('fonts/Raleway-ExtraLightItalic.woff') format('woff'), url('fonts/Raleway-ExtraLightItalic.ttf') format('truetype'), url('fonts/Raleway-ExtraLightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

