[component-wrapper]{
    margin-top: 3rem;
    height: 60vh;
    background-color: #f8f8f8 !important;

    [title]{
        height: 5vh;
        padding-top: 12vh;
    }

    [carousel]{
        margin-top: -5vh;
        width: 40%;
        margin: 0 auto;

        [element]{
            text-align: center;

            img{
                display:inline-block;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    [component-wrapper]{
        height: 80vh;
    }
     [carousel]{
        width:100% !important;
     }
}
@media only screen and (min-width: 375px) and (max-width: 425px) {
    [component-wrapper]{
        height: 80vh;
    }
     [carousel]{
        width:100% !important;
     }
}
@media only screen and (min-width: 425px) and (max-width: 768px) {
    [component-wrapper]{
        height: 80vh;
    }
     [carousel]{
        width:100% !important;
     }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    [component-wrapper]{
        height: 80vh;
    }
}