[component-wrapper]{
    margin-top: 3rem;
    height: 60vh;
    background-color: #f8f8f8 !important;

    [title]{
        height: 8vh;
        padding-top: 12vh;
    }

    [carousel]{
        margin-top: -5vh;
        width: 40%;
        margin: 0 auto;

        [element]{
            text-align: center;

            img{
                display:inline-block;
            }
        }
    }
}
iframe{
    border:1px solid #ccc;
    overflow:hidden;
    width:148px;
    height:148px;
}
.box-element >*{
    margin: 0 auto;
    display: block;
    a{
        height: 100%;
        width: 100%;
        img{
            margin: 0 auto;
            display: block;
        }
    }
}
.no-top{
    top: 0 !important;
}
.title{
    margin: 3rem 0 3rem 0;
}
.member{
    margin: 3rem 0 3rem 0;
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
    [component-wrapper]{
        height: 80vh;
    }
     [carousel]{
        width:100% !important;
     }
     .myBadge{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .member{
        margin: 0rem 0 0rem 0;
    }
}
@media only screen and (min-width: 375px) and (max-width: 575px) {
    [component-wrapper]{
        height: 80vh;
    }
     [carousel]{
        width:100% !important;
     }
     .myBadge{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .member{
        margin: 0rem 0 0rem 0;
    }
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
    [component-wrapper]{
        height: 60vh;
    }
     [carousel]{
        width: 100% !important;
     }

}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    [component-wrapper]{
        height: 65vh;
    }
}
@media only screen and (min-width: 1024px) {
    .member{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .box-element1{
        padding-left: 40%;
    }
    .box-element2{
        padding-right: 40%;
    }
}
