<!--<div class="row" component-wrapper>
	<div class="col-12" title>-->
<div style="background-color:#f8f8f8!important; margin-top: -1rem;">
		<div class="container" >
				<div class="row" >
						<div class="col-12" >
							<h4 class="title" font-center font-uppercase> {{ titulo }} </h4>
						</div>

					<div class="col-12 member">
						<div class="row">
							<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 myBadge" >
								<div class="box-element box-element1">
									<iframe src="https://www.fearlessphotographers.com/banner-display.cfm?photogID=7836"  scrolling="no" frameborder="0" ></iframe>
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-top myBadge" >
								<div class="box-element box-element2">
									<div class="mywed_badge" >
										<a href="https://mywed.com/es/photographer/mamfotografo/" target="_blank" title="Los mejores fotógrafos de boda de todo el mundo están en MyWed">
											<img src="https://mywed.com/images/mywed-logo/logo_mywed_vertical_black.svg" alt="Los mejores fotógrafos de boda de todo el mundo están en MyWed" style="max-height:150px;" />
										</a>
									</div>
								</div>
								
							</div>
						</div>
					</div>
		</div>
		
</div>
