<div class="row" component-wrapper>
	<div class="col-12" title>
		<h4 class="title" font-center font-uppercase> {{ titulo }} </h4>
	</div>

	<div class="col-12">
		<div #carousel carousel>
			<div *ngFor="let miembro of directorio;" element >
				<iframe *ngIf="!miembro.iframe" [attr.src]="miembro.logo"  scrolling="no" frameborder="0" ></iframe>
				
				<img *ngIf="!miembro.iframe && !miembro.clickeable"
					[attr.src]="miembro.logo" 
					[attr.alt]="miembro.name" >

				<div  *ngIf="!miembro.iframe && miembro.clickeable" class="mywed_badge" style="display: inline-block; margin: 0; padding: 5px;">
					<a [attr.href]="miembro.url" target="_blank" [attr.title]="miembro.name">
						<img *ngIf="!miembro.iframe"
							[attr.src]="miembro.logo" 
							[attr.alt]="miembro.name" >
					</a>
				</div>
			</div>
		</div>
	</div>
</div>