$golden: #b9a26a;
[component-wrapper]{
    margin-top: 3rem;
    height: 80vh;
    background-color: white !important;

    [title]{
        height: 10vh;
        padding-top: 5vh;
    }


    div:nth-child(2){
        top: 6vh;
    }


    [carousel]{
        
        margin: 0 auto;

        [element]{

            [element-wrapper]{
                text-align: center;
                overflow-y: hidden;
                //max-height: 220px;
                position: relative;
                img{
                    display:inline-block;
                    width: 100%;
                    height: auto;
                }
            }

            [description]{
                padding: 15px;
                p{
                    text-align: left;

                    $font-size: 1.125rem;
                    $line-height: 1.875;

                    @media only screen and (min-width: 319px) and (max-width:1024px)  {
                        $font-size: 1rem;
                        $line-height: 1.5;
                    }

                    $lines-to-show-max: 3;
                    $lines-to-show-min: 1;
                    display: block;
                    display: -webkit-box;
                    min-height: $font-size*$line-height*$lines-to-show-min;
                    max-height: $font-size*$line-height*$lines-to-show-max;
                    font-size: $font-size !important;
                    line-height: $line-height;
                    -webkit-line-clamp: $lines-to-show-max;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
.loader:before{
	display: block;
	position: absolute;
	content: "";
	left: -100px;
	width: 100px;
	height: 10px;
	background-color: $golden;
    //animation: loading linear infinite;
   // animation-duration: 5200ms;
}
@keyframes loading {
    /*from {left: -100px; width: 10%;}
    20% {width: 20%;}
    40% {width: 40%;}
	50% {width: 50%;}
	70% {width: 70%;}
	80% {left: 50%;}
	95% {left: 120%;}
    to {left: 100%;}*/
    0%{ width: 10%}
    100%{width: 110%}
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
    [component-wrapper][_ngcontent-c9] {
        margin-top: 3rem;
        height: 80vh;
        
        background-color: white !important;
        [title]{
            height: 10vh;
            padding-top: 4vh;
        }
    }   
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
    [component-wrapper][_ngcontent-c9] {
        margin-top: 3rem;
        height: 80vh;
        background-color: white !important;
        [title]{
            height: 10vh;
            padding-top: 5vh;
        }
    }   
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
    [component-wrapper][_ngcontent-c9] {
        margin-top: 3rem;
        height: 80vh;
        background-color: white !important;
        [title]{
            height: 10vh;
            padding-top: 5vh;
        }
    }   
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    [component-wrapper][_ngcontent-c9] {
        margin-top: 3rem;
        height: 80vh;
        background-color: white !important;
        [title]{
            height: 10vh;
            padding-top: 5vh;
        }
    }   
}
@media only screen and (min-width: 1024px)  {
    [component-wrapper][_ngcontent-c9] {
        margin-top: 3rem;
        height: 80vh;
        background-color: white !important;
    }   
}


////// queries for title and loader

@media only screen and (min-width: 320px) and (max-width: 375px) {
    [component-wrapper] {
        margin-top: 3rem;
        //height: 80vh;
        height: 125vh;
        max-height: 480px;
        background-color: white !important;
        [title]{
            height: 20vh;
            padding-top: 4vh;
            max-height: 110px;
        }
    }   
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
    [component-wrapper] {
        margin-top: 3rem;
        //height: 85vh;
        height: 142vh;
        max-height: 530px;
        background-color: white !important;
        [title]{
           // height: 10vh;
            height: 20vh;
            max-height: 90px;
            padding-top: 2vh;
        }
    }   
}

@media only screen and (min-width: 425px) and (max-width: 550px) {
    [component-wrapper] {
        margin-top: 3rem;
        //height: 105vh;
        height: 145vh;
        max-height: 550px;
        background-color: white !important;
        [title]{
            //height: 14vh;
            padding-top: 5vh;
            height: 24vh;
            max-height: 100px;
        }
    }
    [component-wrapper] [carousel] [element] [element-wrapper] img{
        width: 90%;
    }   
}

@media only screen and (min-width: 550px) and (max-width: 768px) {
    [component-wrapper] {
        margin-top: 3rem;
        height: 145vh;
        max-height: 550px;
        background-color: white !important;
        [title]{
            padding-top: 5vh;
            height: 24vh;
            max-height: 100px;
        }
    }
    [component-wrapper] [carousel] [element] [element-wrapper] img{
        width: 90%;
    }   
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    [component-wrapper] {
        margin-top: 3rem;
        height: 80vh;
        background-color: white !important;
        [title]{
            height: 10vh;
            padding-top: 5vh;
        }
    }   
}
@media only screen and (min-width: 1024px)  {
    [component-wrapper] {
        margin-top: 3rem;
        height: 80vh;
        max-height: 480px;
        background-color: white !important;
    }   
}