.quote_box{
	position: relative;
	background-color: #f8f8f8;
	height: 400px;
	width: 100%;
	.text{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 80%;
	}
	h4, p{
		text-align: center;
	}
	p{
		color: #b9a26a;
		margin: 0 auto;
	}
}
.title_box{
	height: 200px;
	width: 100%;
	display: table;

	h2{
		display: table-cell;
	    vertical-align: middle;
	    text-align: center;
	}
}
.relative{
	margin: 0 auto;
	width: 80%,
}