<mam-instance-header-sticky></mam-instance-header-sticky>
<mam-instance-header></mam-instance-header>

<div class="quote_box">
	<div class="relative table">
		<div class="text">
			<h4 class="featured_content" [innerHTML]="quote"></h4>
			<br>
			<p class="quotes_autor gold uppercase" [innerHTML]="author"></p>
		</div>
	</div>
</div>
<div class="title_box">
	<!--<div class="container">-->
		<div class="table-row">
			<h2 class="title uppercase">Conoce sus historias</h2>
		</div>
	<!--</div>-->
</div>	
<div class="box-thumbnails-images">						
	<ng-template ngFor let-image [ngForOf]="images | async" let-i="index">
		<mam-instance-thumbnail-image 
			[image]="image" 
			[position]="i"></mam-instance-thumbnail-image>	
	</ng-template>
</div>

<mam-instance-banner-miembros></mam-instance-banner-miembros>    
<mam-instance-banner-instagram></mam-instance-banner-instagram>
<mam-instance-footer></mam-instance-footer>