
<div class="container-image-full" *ngIf= "position == full">
	<img src="https://cdn6.bigcommerce.com/s-lh4nxu/products/7478/images/51050/3_piece_large_pictures_bedroom_multi_panel_canvas_champagne_glass_group_canvas__41960.1478075922.1280.1280.jpg?c=2" alt="">
</div>
<div class="container-image-rigth" *ngIf= "position == rigth">
	<img src="https://cdn6.bigcommerce.com/s-lh4nxu/products/7478/images/51050/3_piece_large_pictures_bedroom_multi_panel_canvas_champagne_glass_group_canvas__41960.1478075922.1280.1280.jpg?c=2" alt="">
</div>
<div class="container-image-left" *ngIf= "position == left">
	<img src="https://cdn6.bigcommerce.com/s-lh4nxu/products/7478/images/51050/3_piece_large_pictures_bedroom_multi_panel_canvas_champagne_glass_group_canvas__41960.1478075922.1280.1280.jpg?c=2" alt="">
</div>
