<div #carouselContainer></div>

<div class="banner bannerHome">
	<img src="assets/svg/mam-logo-white.svg" alt="" class="logo" (click)="goto('')">
	<div class="banner-content" #carousel>
		<!-- Carousel is loaded here -->
		<div class="image-container container-image" *ngFor="let image of bannerImages;" style="position: relative;">
			<img [attr.src]="image.image" [attr.alt]="image.name">
			<div class="call-to-action-image">
				<a href="#" class="btn-CTA">
					<svg>
						<rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
					</svg>
						<span class="button_CTA" font-uppercase>Ver portafolio</span>	
				</a>
			</div>
		</div>
	</div>
	<div class="box-miniatura" #grid_Miniatura>
		<mam-box-miniatura [miniatura] = "miniatura" ></mam-box-miniatura>
	</div>
</div>

