<div #carouselContainer></div>
<div *ngIf="isContacto" class="d-hidden ajust-title">
	<h1 class="title text-center">CONTACTO</h1>
	<p class="text-center padding-both">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel consequatur quia ab explicabo pariatur.</p>
</div>
<div *ngIf="isMAM" class="d-hidden ajust-title">
	<h1 class="title text-center">MIGUEL ÁNGEL MARTÍNEZ</h1>
	<p class="text-center padding-both">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel consequatur quia ab explicabo pariatur.</p>
</div>
<div *ngIf="!isMAM && !isContacto"  class="d-hidden banner-space"></div>
<div class="banner bannerHome">
	<img src="assets/svg/mam-logo-white.svg" alt="" class="logo" (click)="CTA.inicio()">
	<div class="banner-content" #carousel>
		<div class="image-container container-image" *ngFor="let image of bannerImages;" style="position: relative;">
			<div class="overlay"></div>
			<img [attr.src]="image.image" [attr.alt]="image.name"/>
			<div *ngIf="!isPortafolio && !isMAM && !isContacto" class="call-to-action-image" >
				<a class="btn-CTA" (click)="CTA.portafolio()">
					<svg>
						<rect x="0" y="0" fill="none" width="100%" height="100%"></rect>
					</svg>
					<span class="buttonCTA" font-uppercase>Ver portafolio</span>	
				</a>
			</div>
		</div>
	</div>
	<div *ngIf="isPortafolio" class="portafolio-title">
		<h1>PORTAFOLIO</h1>
	</div>
	<div *ngIf="isMAM" class="portafolio-title">
		<h1 class="m-hidden">MIGUEL ÁNGEL MARTÍNEZ</h1>
	</div>
	<div *ngIf="isContacto" class="portafolio-title">
		<h1 class="m-hidden">CONTACTO</h1>
	</div>

	<div *ngIf="!isPortafolio && !isMAM && !isContacto" class="box-miniatura" #grid_Miniatura>
		<mam-box-miniatura [miniatura] = "miniatura" ></mam-box-miniatura>
	</div>
	<div *ngIf="!isPortafolio && !isMAM && !isContacto" class="box-miniatura-mobile" #grid_Miniatura>
		<mam-box-miniatura [miniatura] = "miniatura" ></mam-box-miniatura>
	</div>
</div>
<!--<div class="loader"></div>-->
<div class="loader" *ngIf=" !isPortafolio && !isMAM && !isContacto">
	<div class="loader1"></div>
</div>