.call-to-action-image{
    z-index: 10;
}
.banner{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
    .logo{
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        z-index: 2;
    }
    .box-miniatura{
        position: absolute;
        width: 600px;
        height: 150px;
        z-index: 2;
        bottom: 1.5rem;
        left: 2rem;
    }
    .banner-content{
        position: relative;
        width: inherit;
        height: inherit;
        overflow-x: hidden !important;

        .image-container{
            width: 100vw;
            height: 100vh;
            background-color: black;
            text-align: center;
            overflow-y: hidden;
            img{
                width: 100vw;
                height: auto;
                display: inline-block;
            }
        }
    }
}


.logo:hover{ cursor: pointer; }