.bio_box{
	width: 100%;
	height: auto;
	.comment-special{
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
	.text-center{
		text-align: center;
	}
	.featured_content{
		padding-left: 2rem;
	}
	.row-special{
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
}
@media only screen and (min-width:320px) and (max-width:1024px){
	.m-hidden{
		display: none;
	}
}