<div class="stickybar">
	<nav class="navbar">
	  <div class="container-fluid">
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <div class="ghost-header">
				<img src="assets/images/logo.png" alt="" class="logo">
				<div class="links">
					<h2 class="title_pop_up">Portafolio</h2>
					<h2 class="title_pop_up">Historias</h2>
					<h2 class="title_pop_up">Miguel Angel Martinez</h2>
					<h2 class="title_pop_up">Contacto</h2>
				</div>
			</div>
	    </div>
	  </div>
	</nav>
	<div class="lateral_bar">
		<div class="relative">
			<div class="menu_button">
				<i class="fa fa-bars navbar-toggle" aria-hidden="true" mouseable data-toggle="collapse" data-target="#myNavbar"></i>
				<!--<i class="fa fa-bars" aria-hidden="true" (click)="onClick.emit()" mouseable class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"></i>-->
			</div>	
			<p class="social_links social-instagram" ><span >Instagram</span></p> 
			<p class="social_links social-facebook" ><span >Facebook</span></p> 
			<p class="social_links social-twitter" ><span >Twitter</span></p> 
			<div class="chat"><i class="fa fa-comments" aria-hidden="true"></i></div>
		</div>
	</div>
</div>
<!--<mam-instance-box-menu style="display:none;"></mam-instance-box-menu>-->