<div class="ghost-header">
	<div class="menu_button closeButton">
		<div class="burger-click-region active" golden aria-hidden="true" mouseable (click)="click()" >
				<span class="burger-menu-piece"></span>
				<span class="burger-menu-piece"></span>
				<span class="burger-menu-piece"></span>
		</div>
	</div>		
	<div class="text-info">
		<div class="relative">
			<h2 class="title_pop_up" golden>Pronto iniciará tu historia</h2>
			<h2 class="title_pop_up">En las proximas 48 horas responderé tus dudas, por favor revisa tu bandeja de entrada</h2>
		</div>
	</div>
</div>