<div class="ghost-header">
	<img src="assets/images/logo.png" alt="" class="logo">
	<!-- navigation lateral bar -->
	<div class="links">
		<h2 class="title_pop_up">Portafolio</h2>
		<h2 class="title_pop_up">Historias</h2>
		<h2 class="title_pop_up">Miguel Angel Martinez</h2>
		<h2 class="title_pop_up">Contacto</h2>
	</div>
	<div class="lateral_bar">
		<div class="relative">
			<div class="menu_button">
				<i class="fa fa-times" aria-hidden="true" (click)="close.emit()" mouseable></i>
			</div>	
			<p class="social_links social-instagram" ><span >Instagram</span></p> 
			<p class="social_links social-facebook" ><span >Facebook</span></p> 
			<p class="social_links social-twitter" ><span >Twitter</span></p> 
			<div class="chat"><i class="fa fa-comments" aria-hidden="true"></i></div>
		</div>
	</div>
</div>