.ghost-header{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
    background-color: black;
    position: relative;
    z-index: 5;
    .links{
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-30%,-50%);
    }
    h2{
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        color: #a2a2a2;
        margin-left: 3rem;
    }
    .logo{
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        z-index: 2;
    }
}