.ghost-header{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
    background-color: black;
    position: relative;
    z-index: 5;
    .links{
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-30%,-50%);
    }
    h2{
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        color: #a2a2a2;
        margin-left: 3rem;
    }
    .logo{
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        z-index: 2;
    }
    .lateral_bar{
        width: 5rem;
        height: 100%;
        position: absolute;
        right: 2rem;
        top: 0;
        z-index: 10;
        i{
            font-size: 2rem;
        }
        .relative{
            height: 100%;
            width: 100%;
            position: relative;
        }
        .social_links{
            display: block;
            /*transform: rotate(90deg);*/
            color: white;
            writing-mode: vertical-lr;
            position: absolute;
            top: 50%;
            right: 0;
            text-align: right;
        }
        .social-instagram{
            top:30%;
        }
        .social-facebook{
            top:45%;
        }
        .social-twitter{
            top:60%;
            
        }
        .chat{
            color:white;
            text-align: center;
            position: absolute;
            bottom: 2%;
            right: 1rem;

        }
        .menu_button{
            color: white;
            text-align: center;
            position: absolute;
            top: 5%;
            right: 1rem;
        }
    }
}