$golden: #b9a26a;
$menu-animation-duration: 400ms;
$menu-animation-timing:   ease-out;

/*.velo{
    height: 100%;
    width: 100vw;
    background-color: white;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}*/
.card-columns{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    .element{
        display: inline-block;
        width: 100%;
    }
    .container-image{
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}
.velo-image{
    position: fixed;
    height: auto;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    background-color: white;
    overflow-y: scroll;
    .relative{
        position: relative;
        top: 0 !important;
        width: 100%;
        height: 100%;
    }
    p{
        text-align: center;
    }
    .image-box{
        position: relative;
    }
    .full-image{
        max-width: 80%;
        max-height: 500px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding-top: 2rem;
        object-fit: cover;
        object-position: center;
        @media only screen and (min-width:320px) and (max-width:1024px) {
            max-width: 100%;
            width: 100%;
            max-height: 75%; 
            padding-top: 0;
        }
    }
    .btn-space{
        margin-bottom: 2rem;
    }
    .left-arrow-box{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;
        .left-arrow{
            height: 30px;
            width: 30px;
            cursor: pointer;          
        }
    }
    .right-arrow-box{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;

        .right-arrow{
            height: 30px;
            width: 30px;
            cursor: pointer;
        }
    }
    
    
}

.image-container{
    position: relative;
}


@media only screen and (min-width:320px) and (max-width:1024px){
    .m-hidden{
        display: none;
    }
}
@media only screen and (min-width:1024px) {
    .d-hidden{
        display: none;
    }
}


[component-wrapper]{
    height: initial !important;
    max-height: initial !important;
    margin-top: -4rem !important;

    [image-wrapper]{
        margin-top: 30px;
        margin-bottom: 30px;
        height: 100% !important;
        width: 100% !important;
        display: table !important;
        position: relative !important;
        [image-container]{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            img{
                width: 80%;
            }
    
            
        }
    }
}
.velo-burger{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    z-index: 50000;
}
.burger-click-region{
    width:40px;
    height: 40px;
}
.burger-menu-piece {
  display: block;
  position: absolute;
  width: 40px;
  //border-top: 2px solid #ffffff;
  //box-shadow: 0px 0px 5px black;
  border-top: 4px solid #000000;
  transform-origin: 50% 50%;
  transition: transform $menu-animation-duration $menu-animation-timing;
  
  &:nth-child(1) {
    top: 0;
  }
  
  &:nth-child(2) {
    top: 12px;
    opacity: 1;
    transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
  }
  
  &:nth-child(3) {
    top: 24px;
  }
  
  .active & {
    
      &:nth-child(1) {
        animation: burger-open-top $menu-animation-duration $menu-animation-timing forwards;
        border-top: 4px solid $golden;
      }
    
      &:nth-child(2) {
        opacity: 0;
        transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
      }
    
      &:nth-child(3) {
        animation: burger-open-bot $menu-animation-duration $menu-animation-timing forwards;   
        border-top: 4px solid  $golden;
        //border-top: 2px solid  #000;
      }
  }
  
  .closing & {
    &:nth-child(1) {
      animation: burger-close-top $menu-animation-duration $menu-animation-timing forwards;
    }
    
    &:nth-child(3) {
      animation: burger-close-bot $menu-animation-duration $menu-animation-timing forwards;
    }
  }
}
