.footer{
	//height: 100vh;
	clear: both;

	.container{
		//height: 100vh;
	}

	h4{
		text-align: center;
		margin-top: 4rem;
		margin-bottom: 2rem;
		text-transform: uppercase;
	}
	p{
		text-align: center;
		margin-bottom: 2rem;
	}
	li{
		//background-color: #b9a26a;
		margin-right: 0.5rem;
		margin-left: 0.5rem;
		width: 25px;
    	height: 25px;

	}
	.list-inline-item > *{
		color: white;
		background-color: #b9a26a;
		width: 100%;
		height: 100%;
		display: block;
	}
	.separator{
		width: 60%;
		height: 8px;
		background-color: #b9a26a;
	}
	.social-networks{
		margin-top: 2rem;
		margin-bottom: 2rem;
		ul{
			text-align: center;
		}	
	}
	button{
		display: block;
		margin: 0 auto;
	}
}
.by-made{
	float: right;
	margin-right: 1rem;
	margin-top: 0.5rem;
	.btn-special {
		color: #b9a26a;
		cursor: pointer;
		display: block;
	    margin: 0 auto;
		position: relative;
		text-decoration: none;
		vertical-align: middle;
		width: 100%; 
		background: none;
		border-color: transparent;
		min-width: 280px;
		min-height: 48px;
	}
	.btn-special-nohover{
		color: #b9a26a;
		cursor: pointer;
		display: block;
	    margin: 0 auto;
		position: relative;
		text-decoration: none;
		vertical-align: middle;
		width: 100%; 
		background: none;
		border-color: transparent;
		min-width: 280px;
		min-height: 48px;
	}
	.btn-special-nohover svg{
		height: 48px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%; 
	}
	.btn-special svg {
	   height: 48px;
	   left: 0;
	   position: absolute;
	   top: 0;
	   width: 100%; 
	}
	.btn-special-nohover rect{
		fill: none;
	    stroke: #b9a26a;
	    stroke-width: 2;
	    stroke-dasharray: 403, 0;
	    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); 
	}
	.btn-special rect {
	    fill: none;
	    stroke: #b9a26a;
	    stroke-width: 2;
	    stroke-dasharray: 403, 0;
	    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); 
	}
	.btn-special:hover {
	 	background: rgba(255, 255, 255, 0);
	 	font-weight: 800; 
	}
	.btn-special:hover rect {
	   stroke-width: 5;
	   stroke-dasharray: 15, 487;
	   stroke-dashoffset: 48; 
	}
	span{
		position: absolute;
		top: 50%;
		text-align: center;
		transform: translate(0,-50%);
		width: 100%;

	}
}
.no-pointer {
	cursor: default !important;
	a{
		cursor: default !important;
		svg{
			cursor: default !important;
		}
		span{
			cursor: default !important;
		}
	}
}
