.footer{
	h4{
		text-align: center;
		margin-top: 4rem;
		margin-bottom: 2rem;
	}
	p{
		text-align: center;
		margin-bottom: 2rem;
	}
	li{
		background-color: gold;
		margin-right: 1rem;
		margin-left: 1rem;
	}
	.separator{
		width: 60%;
		height: 10px;
		background-color: gold;
	}
	.social-networks{
		margin-top: 2rem;
		margin-bottom: 2rem;
		ul{
			text-align: center;
		}
		
	}
	button{
		display: block;
		margin: 0 auto;
	}
}
.by-made{
	float: right;
	margin-right: 1rem;
}