<mam-instance-header-sticky></mam-instance-header-sticky>
<mam-instance-header [isContacto] = "true"></mam-instance-header>
<div class="container-fluid bg-grey">
	<div class="container">
		<br>
		<br>
		<div class="row">
			<div class="col-12">
				<!--<h2 class="featured_content" style="text-align: center;">{{contacto.text}}</h2>-->
				<h2 class="featured_content" style="text-align: center;" [innerHTML]="title"></h2>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-12">
				<!--<p class="content">{{contacto.description}}</p>-->
				<p class="content" [innerHTML]="description"></p>
			</div>
		</div>
	</div>
	<br>
	<mam-instance-box-form id="formulario-bodas" name="formulario-bodas" style="display: block;"></mam-instance-box-form>
	<br>
	<br>
</div>
<br>
<div class="container-fluid ">
	<br>
	<br>
	<div class="container">
		<div class="row">
			<h2 class="subtitle2" uppercase>Preguntas frecuentes</h2>
		</div>
	</div>
	<br>
	<mam-instance-box-preguntas [questions]="preguntas"></mam-instance-box-preguntas>
	<br>
	<div class="container">
		<div class="row">
			<h4 class="content" style="text-align:left;">Para otras preguntas escribenos a <a id="mail" href="mailto:mamfotografo@gmail.com?Subject=Consulta de informacion" target="_top"><strong>MAMFOTOGRAFO@GMAIL.COM</strong></a></h4>
		</div>
	</div>
</div>
<mam-instance-banner-instagram></mam-instance-banner-instagram>
<mam-instance-box-agradecimiento id="boxThanks" style="display: none" (onClick)="dispose()"></mam-instance-box-agradecimiento>