
/*image-wrapper{
    height: 100% !important;
    width: 100% !important;
    display: table !important;
    position: relative !important;
    image-container{
        display: table-cell;
        vertical-align: middle;
        img{

        }

        img:hover{

        }
    }
}*/

[component-wrapper]{
    height: initial !important;
    max-height: initial !important;
    margin-top: -4rem !important;

    [image-wrapper]{
        margin-top: 30px;
        margin-bottom: 30px;
        height: 100% !important;
        width: 100% !important;
        display: table !important;
        position: relative !important;
        [image-container]{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            img{
                width: 80%;
            }
    
            img:hover{
    
            }
        }
    }
}
