<div class="stickybar">
	<nav class="navbar">
	  <div class="container-fluid">
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <div class="ghost-header">
				<img src="assets/svg/mam-logo-white.svg" alt="" class="logo" (click)="CTA.inicio()" style="cursor:pointer;"/>
				<div class="links link-effect-4">
					<h2 class="menu_section" > <span class="menu_section" id="portafolio" mouseable (click)="callback('portafolio')"> Portafolio</span> </h2>
					<h2 class="menu_section" > <span class="menu_section" id="historias" mouseable (click)="callback('historias')"> Historias</span> </h2>
					<h2 class="menu_section" > <span class="menu_section" id="mam" mouseable (click)="callback('mam')"> Miguel Ángel Martínez</span> </h2>
					<h2 class="menu_section" > <span class="menu_section" id="contacto" mouseable (click)="callback('contacto')"> Contacto</span> </h2>
				</div>
			</div>
	    </div>
	  </div>
	</nav>
	<div class="lateral_bar">
		<div class="relative">
			<div class="menu_button">
				<!--<i class="fa fa-bars navbar-toggle hamButton" golden aria-hidden="true" mouseable data-toggle="collapse" data-target="#myNavbar" (click)="greaterWidth()"></i>-->
				<div class="burger-click-region" golden aria-hidden="true" mouseable data-toggle="collapse" data-target="#myNavbar" (click)="greaterWidth();burgerEffect()">
						<span class="burger-menu-piece"></span>
						<span class="burger-menu-piece"></span>
						<span class="burger-menu-piece"></span>
				</div>
			</div>
			<div class="link-effect-2">
					<p class="social_links social-instagram " ><span id="instagram" (click)="callRRSS('instagram')" >Instagram</span></p> 
					<p class="social_links social-facebook " ><span id="facebook" (click)="callRRSS('facebook')">Facebook</span></p> 
					<p class="social_links social-twitter "  ><span id="twitter" (click)="callRRSS('twitter')">Twitter</span></p> 

			</div>	
			
			<div id="chat-image" class="chat" (click)="CTA.contacto('hola')" style="cursor:pointer;">
				<img src="assets/svg/contact-black.svg" alt="" style="visibility:hidden;"/>
			</div>
		</div>
	</div>
</div>

<!--Stycky bar mobile-->
<div class="stickybar-mobile">
	<nav class="navbar">
	  <div class="container-fluid">
	    <div class="collapse navbar-collapse" id="myNavbarMobile">
	      <div class="ghost-header">
				<!--<img src=src="assets/svg/mam-logo-white.svg" alt="" class="logo">-->
				<div class="links">
					<h2 > <span class="menu_section" mouseable (click)="callback('portafolio')"> Portafolio</span> </h2>
					<h2 > <span class="menu_section" mouseable (click)="callback('historias')"> Historias</span> </h2>
					<h2 > <span class="menu_section" mouseable (click)="callback('mam')"> Miguel Ángel Martínez</span> </h2>
					<h2 > <span class="menu_section" mouseable (click)="callback('contacto')"> Contacto </span> </h2>
					<div class="socialNetworks">
						<ul class="list-inline">
							<li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/mamfotografo/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li class="list-inline-item"><a target="_blank" href="https://wwww.facebook.com/mamfotografo/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li class="list-inline-item"><a target="_blank" href="https://twitter.com/mamfotografo/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
	    </div>
	  </div>
	</nav>
	<div class="lateral_bar">
		<div class="relative">
			<div class="logo-mobile" (click)="CTA.inicio()" style="cursor:pointer;">
				<img src="assets/svg/mam-logo-black.svg" alt=""/>
			</div>
			<div class="chat mobile" (click)="CTA.contacto()" style="cursor:pointer;">
				<img src="assets/svg/contact-black.svg" alt=""/>
			</div>
			<div class="menu_button">
				<div class="burger-click-region" golden aria-hidden="true" mouseable data-toggle="collapse" data-target="#myNavbarMobile" (click)="greaterWidthMobile();burgerEffectMobile()">
						<span class="burger-menu-piece"></span>
						<span class="burger-menu-piece"></span>
						<span class="burger-menu-piece"></span>
				</div>
			</div>	
		</div>
	</div>
</div>