.container-image-full{
	width: 100%;
	height: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	position: relative;
	overflow: hidden;
}
img{
	width: 100%;
	height: 100%;
	object-fit: fill;
}
.box-collage{
    width: 100vw;
	height: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	position: relative;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}
.description {
    padding-top: 10vh; 
    padding-bottom: 10vh;
}

.description-center{
    display: table;
    width: 100%;
    height: 100%;

    h1 {
        display:table-cell;
        vertical-align: middle;
    }
}

.collage-container {
    width: 70vw !important;
}

.description-text-container{
    position: absolute;
    top: 0;
    bottom: 0;
    color: white;
    left: 0;
    right: 0;
}

.collage-box{
    margin: 0;
}
.collage-box-triple{
    & > .row {
        height: 70vh;
        img{
            height: 100%;
            width: auto;
        }
    }
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
}
.collage-box-double{
    img{
        width: 100%;
        height: auto;
    }
}
.collage-box-full{
    img{
        width: 100%;
        height: auto;
    }
}
.not-padding{
    padding: 0;
}
.center{
    margin: 0 auto;
    display: block;
    text-align: center;
}

.not-overflow{
	overflow: hidden !important;
    position: relative;
    height: 100%;
}


