<br>
<br>
<h2 class="title uppercase center"> Lorem ipsum, dolor sit amet consectetur adipisicing animi um quidem!</h2>
<br>
<br>
<div class="box-collage">
    <div class="collage-box collage-box-double">
        <div class="row">
          <div class="col-6 not-padding">
            <div class="not-overflow"> 
                <div class="overlay"></div>
                <img [attr.src]="collage[0].src" >
              </div>
          </div>
          <div class="col-6 not-padding">
            <div class="not-overflow"> 
                <div class="overlay"></div>
                <img [attr.src]="collage[0].src" >
              </div>
          </div>  
        </div>
      </div>
      <br>
      <div class=" collage-box collage-box-full">
        <div class="row">
          <div class="col-12 not-padding">
            <div class="not-overflow">
              <div class="overlay"></div>
              <img [attr.src]="collage[0].src" >
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="collage-box collage-box-triple">
        <div class="row">
          <div class="col-4 not-padding">
            <div class="not-overflow"> 
                <div class="overlay"></div>
                <img [attr.src]="collage[0].src" >
              </div>
          </div>
          <div class="col-4 not-padding">
            <div class="not-overflow"> 
              <div class="overlay"></div>
              <img [attr.src]="collage[0].src" >
              </div>
          </div>
          <div class="col-4 not-padding">
            <div class="not-overflow"> 
              <div class="overlay"></div>
              <img [attr.src]="collage[0].src" >
            </div>
          </div>    
        </div>
      </div>
</div>
