<h2 class="title uppercase center description" #descriptionRender> {{description}} </h2>

<div *ngIf="type == 0" class="box-collage">
	<!--FULL-->
	<div class="collage-box collage-box-full">
		<div class="row">
			<div *ngIf="collage[0] != undefined" class="col-12 not-padding">
				<div class="not-overflow">
					<div class="overlay"></div>
					<img [attr.src]="collage[0].src" [attr.alt]="collage[0].alt"/>
					<div class="description-text-container"> 
						<div class="description-center">
							<h1 class="title uppercase center"> {{collage[0].description}} </h1> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>


	<!--TRIPLE-->
	<div class="collage-box collage-box-triple">
		<div class="row">
			<div *ngIf="collage[1] != undefined" class="col-4 not-padding">
				<div class="not-overflow"> 
					<div class="overlay"></div>
					<img [attr.src]="collage[1].src" [attr.alt]="collage[1].alt"/>
				</div>
			</div>

			<div *ngIf="collage[2] != undefined" class="col-4 not-padding">
				<div class="not-overflow"> 
					<div class="overlay"></div>
					<img [attr.src]="collage[2].src" [attr.alt]="collage[2].alt"/>
				</div>
			</div>

			<div *ngIf="collage[3] != undefined" class="col-4 not-padding">
				<div class="not-overflow"> 
					<div class="overlay"></div>
					<img [attr.src]="collage[3].src" [attr.alt]="collage[3].alt"/>
				</div>
			</div>		   
		</div>
	</div>
	<br>


	<!--FULL-->
	<div class="collage-box collage-box-full">
		<div class="row">
			<div *ngIf="collage[4] != undefined" class="col-12 not-padding">
				<div class="not-overflow">
					<div class="overlay"></div>
					<img [attr.src]="collage[4].src" [attr.alt]="collage[4].alt"/>
				</div>
			</div>
		</div>
	</div>
	<br>

	  
</div>


<div *ngIf="type == 1" class="box-collage">
	<!--DOUBLE-->
	<div class="collage-box collage-box-double">
		<div class="row">
			<div *ngIf="collage[0] != undefined" class="col-6 not-padding">
				<div class="not-overflow"> 
					<div class="overlay"></div>
					<img [attr.src]="collage[0].src" [attr.alt]="collage[0].alt"/>
				</div>
			</div>
				
				<div *ngIf="collage[1] != undefined" class="col-6 not-padding">
				<div class="not-overflow"> 
					<div class="overlay"></div>
					<img [attr.src]="collage[1].src" [attr.alt]="collage[1].alt"/>
				</div>
			</div>  
		</div>
	</div>
	<br>

	<!--FULL-->
	<div class="collage-box collage-box-full">
		<div class="row">
			<div *ngIf="collage[2] != undefined" class="col-12 not-padding">
				<div class="not-overflow">
						<div class="overlay"></div>
					<img [attr.src]="collage[2].src" [attr.alt]="collage[2].alt"/>
				</div>
				</div>
		</div>
	</div>
	<br>
		
	<!--TRIPLE-->
	<div class="collage-box collage-box-triple">
		<div class="row">
			<div *ngIf="collage[3] != undefined" class="col-4 not-padding">
				<div class="not-overflow"> 
					<div class="overlay"></div>
					<img [attr.src]="collage[3].src" [attr.alt]="collage[3].alt"/>
				</div>
			</div>

			<div *ngIf="collage[4] != undefined" class="col-4 not-padding">
				<div class="not-overflow"> 
					<div class="overlay"></div>
					<img [attr.src]="collage[4].src" [attr.alt]="collage[4].alt"/>
				</div>
			</div>

			<div *ngIf="collage[5] != undefined" class="col-4 not-padding">
				<div class="not-overflow"> 
					<div class="overlay"></div>
					<img [attr.src]="collage[5].src" [attr.alt]="collage[5].alt"/>
				</div>
			</div>		   
		</div>
	</div>
	<br>
</div>
	