<div class="container form_box">
	<div class="row">
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<input type="text" name="nameAndLastName" placeholder="Nombre y Apellido">
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<input type="email" name="email" placeholder="Correo">
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<input type="tel" name="phone" placeholder="Teléfono" autocomplete="true">
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<input type="" name="SocialNetwork" placeholder="Red social">
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<input type="date" name="dateWedding" placeholder="fecha boda">
			<!--<my-date-picker [options]="myDatePickerOptions"
                (dateChanged)="onDateChanged($event)"></my-date-picker>-->
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<input type="text" name="locationChurch" placeholder="Dirección de la Iglesia">
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<input type="text" name="locationReception" placeholder="Dirección de la recepción">
		</div>
		<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<input type="" name="numInvited" placeholder="Numero de invitados">
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<textarea name="details" placeholder="Otros detalles" ></textarea>
		</div>
	</div>
</div>





