/* Load fonts */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }


/* You can add global styles to this file, and also import other style files */
*, html, body{
	font-family: 'Raleway-Medium';
}

body{
	overflow-x: hidden !important;
}

/**
* Global class for styles desktop
*
*/

.title{
	font-size: 1.875rem;
	font-family: 'Raleway-Light';
	line-height: 2.5rem;

}
.subtitle1{
	font-size: 4.375rem;
	font-family: 'Raleway-Bold';
	line-height: 5.125rem;
}
.subtitle2{
	font-size: 1.125rem;
	font-family: 'Raleway-Bold';
	line-height: 1.75rem;
}
.subtitle3{
	font-size: 1.5625rem;
	font-family: 'Raleway-Light';
	line-height: 2.1875rem;
}
.featured_content{
	font-size: 2.8125rem;
	font-family: 'Raleway-ThinItalic';
	line-height: 2.8125rem;
}
.content{
	font-size: 1.125rem;
	font-family: 'Raleway-Light';
	line-height: 1.875rem;
}
.button_CTA{
	font-size: 1.875rem;
	font-family: 'Raleway-Bold';
	letter-spacing: 1.25rem;
	line-height: 2.1875rem;
}
.button{
	font-size: 0.75rem;
	font-family: 'Raleway-Bold';
	letter-spacing: 1.25rem;
	line-height: 0.875rem;
}
.quote{
	font-size: 0.875rem;
	font-family: 'Raleway-Light';
	line-height: 1rem;
}
.quotes_autor{
	font-size: 0.75rem;
	font-family: 'Raleway-Bold';
	letter-spacing: 1.25rem;
	line-height: 0.875rem;
}
.tag{
	font-size: 1.125rem;
	font-family: 'Raleway-Light';
	line-height: 1.75rem;
}
.menu_section{
	font-size: 5rem;
	font-family: 'Raleway-Thin';
	line-height: 5.125rem;
}
.title_pop_up{
	font-size: 5rem;
	font-family: 'Raleway-Thin';
	line-height: 5.125rem;
}
.message_pop_up{
	font-size: 2.8125rem;
	font-family: 'Raleway-ThinItalic';
	line-height: 2.8125rem;
}
.loader{
	font-size: 5rem;
	font-family: 'Raleway-Thin';
	line-height: 5.125rem;
}
.by_name{
	font-size: 0.625rem;
	font-family: 'Raleway-Regular';
	line-height: 0.6875rem;
}

/* Font Styling */
[font-center]{ text-align: center; }
[font-uppercase]{ text-transform: uppercase; }

[font-black]{ font-family: 'Raleway-Black'; }
[font-black-italic]{ font-family: 'Raleway-BlackItalic'; }
[font-bold]{ font-family: 'Raleway-Bold'; }
[font-bold-italic]{ font-family: 'Raleway-BoldItalic'; }
[font-extrabold]{ font-family: 'Raleway-ExtraBold'; }
[font-extrabold-italic]{ font-family: 'Raleway-ExtraBoldItalic'; }
[font-extralight]{ font-family: 'Raleway-ExtraLight'; }
[font-extralight-italic]{ font-family: 'Raleway-ExtraLightItalic'; }
[font-italic]{ font-family: 'Raleway-Italic'; }
[font-light]{ font-family: 'Raleway-Light'; }
[font-light-italic]{ font-family: 'Raleway-LightItalic'; }
[font-medium]{ font-family: 'Raleway-Medium'; }
[font-medium-italic]{ font-family: 'Raleway-MediumItalic'; }
[font-regular]{ font-family: 'Raleway-Regular'; }
[font-semibold]{ font-family: 'Raleway-SemiBold'; }
[font-semibold-italic]{ font-family: 'Raleway-SemiBoldItalic'; }
[font-thin]{ font-family: 'Raleway-Thin'; }
[font-thin-italic]{ font-family: 'Raleway-ThinItalic'; }

/*
* Button styles
*
*/
.btn-CTA, .btn-CTA:hover, .btn-CTA:visited, .btn-CTA:active, .btn-CTA:link{
	text-decoration: none !important;
}
.table-row{
	display: table-row;
}
.table-cell{
	display: table-cell;
}
.table{
	display: table;
}

.table-center{
	vertical-align: middle;
}

.call-to-action-image{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
	p,span{
		color:white !important;
	}
}

.btn-CTA {
	$width: 140px;
	$height: 130px;

	color: #b9a26a;
	cursor: pointer;
	margin: 0 auto;
	position: relative;
	text-decoration: none;
	text-align: center;
    display: table;
	width: 100%; 
	background: none;
	border-color: transparent;
	min-height: $height;
	svg {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%,0);
		max-width: $width;
		max-height: $height; 
		height: $height; 
		z-index: -1;
	}
	rect {
	    fill: none;
		stroke: #b9a26a;
		stroke-width: 2;
		stroke-dasharray: 403, 0;
		transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); 
	}
	span{
		display: table-cell;
		vertical-align: middle;
		text-decoration: none;
		color: black;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	span, span:hover, span:visited, span:active, span:link{
		text-decoration: none !important;
	}
}

.btn-CTA:hover {
	 background: rgba(255, 255, 255, 0);
	 font-weight: 800; 
}
.btn-CTA:hover rect {
	stroke-width: 5;
	stroke-dasharray: 15, 370;
	stroke-dashoffset: 48; 
}

/**
* Global class for styles mobile 320
*
*/
@media only screen and (min-width: 319px) and (max-width:1024px)  {
	.title{
		font-size: 1.5625rem;
		font-family: 'Raleway-Light';
		line-height: 1.875rem;
	}
	.subtitle{
		font-size: 1rem;
		font-family: 'Raleway-Bold';
		line-height: 1.1875rem;
	}
	.featured_content{
		font-size: 1.5625rem;
		font-family: 'Raleway-LightItalic';
		line-height: 2.1875rem;
	}
	.content{
		font-size: 1rem;
		font-family: 'Raleway-Light';
		line-height: 1.5rem;
	}
	.button_CTA{
		font-size: 0.75rem;
		font-family: 'Raleway-Bold';
		letter-spacing: 1.6rem;
		line-height: 0.875rem;
	}
	.quote{
		font-size: 0.875rem;
		font-family: 'Raleway-Light';
		line-height: 1rem;
	}
	.quotes_autor{
		font-size: 0.75rem;
		font-family: 'Raleway-Bold';
		letter-spacing: 1.6rem;
		line-height: 0.875rem;
	}
	.tag{
		font-size: 0.875rem;
		font-family: 'Raleway-Light';
		line-height: 1rem;
	}
	.menu_section{
		font-size: 1.875rem;
		font-family: 'Raleway-Thin';
		line-height: 1.875rem;
	}
	.title_pop_up{
		font-size: 1.875rem;
		font-family: 'Raleway-Thin';
		line-height: 1.875rem;
	}
	.message_pop_up{
		font-size: 1.5625rem;
		font-family: 'Raleway-Light';
		line-height: 2.1825rem;
	}
	.loader{
		font-size: 5rem;
		font-family: 'Raleway-Thin';
		line-height: 5.125rem;
	}
	.by_name{
		font-size: 0.625rem;
		font-family: 'Raleway-Regular';
		line-height: 0.625rem;
	}
}
